
* {margin: 0;padding: 0;}

body {
  display: grid;
  place-items: center;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 30px;
  font-style: normal;
  color: #3d4852;
}
hgroup{
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 1.5em;
}

article{
  font-family: 'Roboto', sans-serif;
  padding-top: 2.5rem;
}

p{
  font-family: 'Roboto',
  sans-serif;font-weight: 600;
}

h2{ writing-mode: vertical-rl;font-family: 'Cutive Mono', monospace;}


._animacion{ animation: blinker2 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;}
@keyframes blinker2 { to { opacity: 0; } }

/*
Utilice fontjoy.com para obtener los tipos de letras que mas me gustara para la pagina

font-family: 'Cutive Mono', monospace;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 border-bottom: 1px solid rgba(0,0,0,.44);
 color de los enlaces: --> color:#1C9963;
*/
footer{
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}