@media only screen and (max-width: 630px) {
  body{
    width: 100%;
  }

  .nombre-principal{
    display: none;
  }

  .lista{
    margin:0  !important;
  }

  nav {font-size: unset;}
  ul{
    margin: 0.5em;
    padding: 0.25em;
    list-style: none;
  }

  .division{
    margin:0;
  }



}